

* {
  box-sizing: border-box;
}

/* CSS Grid */

* {
  box-sizing: border-box;
}
  
body {
  font-family: 'Frutiger', 'Univers Lt Std', 'Arial Black', Helvetica, sans-serif;
  font-size: 18 px;
  color: #070705;
  background-color: #E6E6E6;
  margin: -1px;
}

header {
  padding: 10px 20px;
  position: fixed; 
  top: 0; 
  width: 100%; 
}

.logo{
  height: 60px;
  width: 90px;
}

nav{
  display: inline-block;
  position: absolute;
  margin: 10px 10px 20px 900px;
  nav-left: auto;
  position: fixed; 
  top: 0; 
  width: 100%; 
}

.wrapper{
  width: 70%;
  height: 820px;
  margin: 180px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  grid-template-rows: 2fr 2fr 2fr;
}

.hero{
  width: 90%;
  height: 820px;
  margin: 160px auto auto 130px;
  display: grid;
  grid-template-columns: 1fr 1fr;
} 

.heroimg{
  height: 530px;
  width: 490px;
}

a{
  display: inline-block;
  color: #040402;
  margin: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.wrapper img{
  height: 330px;
  width: 290px;
}

img:hover{
  opacity: 70%;
  transition: .5s ease;
  background-color: rgba(193, 196, 196, 0.541);
} 

h3{
  margin: 12px auto 4px auto;
  text-transform: none;
  font-weight: 500;
}

p{
  margin-top: 4px;
  font-weight: 200;
}

